.heading{
    box-shadow: 0 0 10px 0 black;
}
.logo{
    font-size: 2.5em;
    color: black;
}
.body{
    position: relative;
    display: flex;
}

.container h1{
    text-align: center;
    font-size: 4em;
    color: #5d200d;
}

.footer{
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:70%;
    border-radius: 10px;
    border-color: #5d200d;
    padding: 50px
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  color: #5d200d;
  border-radius: 5px;
  width: 250px;
  border-color: #eeeee4;
  border-shadow: 3px 3px 3px 3px #eeeee4;
  font-size: 18px;
  margin-bottom: 50px

}